<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cs.datamagic">

    <uses-sdk android:minSdkVersion="13" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RailHelpActivity"
            android:label="@string/title_activity_railhelp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="edu.cs.datamagic.activity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WayPickerActivity"
            android:label="@string/title_activity_way_picker"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="edu.cs.datamagic.activity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PieActivity"
            android:label="@string/title_activity_pie"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="edu.cs.datamagic.activity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StackActivity"
            android:label="@string/title_activity_stack"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="edu.cs.datamagic.activity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MagicActivity"
            android:label="@string/title_activity_magic"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ArrayListStack"
            android:label="@string/title_activity_array_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="edu.cs.datamagic.activity" />
            </intent-filter>
        </activity>
    </application>

</manifest>